body {
    width: 100%;
    margin: 30px;
    background-color: antiquewhite;
 }
  
 #profile-container{
    max-width: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
	line-height: 1.2;
	margin-bottom: 15px;
 }
  
 #profile-image{
    width: 100%;
    height: auto;
 }

 .showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}
 .video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}
  